.categories-section {
  background-color: #352c24;
  color: white;
}
.categories-section {
  background-color: #5a543c; /* olive brown */
}

.category-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: "Rossie";
}

.category-img {
  width: 100%;
  max-width: 250px;
  height: 55vh;
  object-fit: cover;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  overflow: hidden;
  border: 1px dashed #d4bfa5;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
