.product-page {
  background-color: #f7f4ef;
  font-family: "Helvetica Neue", sans-serif;
  padding: 40px 20px;
  height: 100vh;
}

.product-wrapper {
  max-width: 1400px;
  margin: auto;
}

.title {
  /* font-size: 28px; */
  font-family: "Kugile";
  font-weight: bold;
  color: #111;
  margin-bottom: 15px;
}

.subtitle {
  font-size: 16px;
  /* font-family: "blanco"; */
  color: #333;
  margin-bottom: 30px;
}
h3 {
  font-family: "kugile";
  font-weight: 700;
}

.image-row {
  gap: 10px;
  margin-bottom: 20px;
}

.image-box {
  width: 80px;
  height: 110px;
  overflow: hidden;
  border-radius: 10px;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description {
  font-size: 14px;
  color: #444;
  line-height: 1.7;
  margin-bottom: 30px;
  max-width: 600px;
}

.button-group .wish-btn {
  background-color: transparent;
  border: 2px solid #000;
  color: #000;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 25px;
}

.button-group .buy-btn {
  background-color: #000;
  color: #fff;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 25px;
}

.product-image {
  margin: 0;
  border: 2px dashed #d4bfa5;
  height: 80vh;
  max-width: 100%;
  object-fit: cover;
  border-radius: 40px;
}
